# OS / editor
.DS_Store
._*
Thumbs.db
desktop.ini
.idea/
.vscode/

# Jupyter / Python
.ipynb_checkpoints/
.virtual_documents/
.jupyter/
anaconda_projects/
__pycache__/
*.pyc

# R
.Rhistory
.RData
.Rproj.user/
